.info {
  font-family: monospace;
  margin: 0 0 10px 10px;
  display: block;
  width: 175px;
  height: 50px;
  border-radius: 10px 10px 10px 10px;
}

input[type="checkbox"] {
  visibility: hidden;
  display: none;
}
.check {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background: #acacac;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
  margin-bottom: 10px;
}
input[type="checkbox"]:checked ~ .check {
  background: #8e121273;
}
.check::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}
input[type="checkbox"]:checked ~ .check::before {
  transform: translateX(-50px);
}
.check::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  background: #b51111;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(40px);
}
input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(0px);
}
body {
  margin: 20px;
  padding: 0;
  background-color: #252525;
  color: rgb(241, 241, 241);
}
.dark-mode {
  background-color: rgb(241, 241, 241);
  color: #252525;
}
.card {
  color: #fff;
  font-size: xx-large;
  text-align: center;
  font-family: "Cairo", sans-serif;
  font-weight: 900;
  width: 190px;
  height: 70px;
  margin: auto;
  background-color: #212121;
  border-radius: 1px;
  border: #212121 2px solid;
  transition: all 0.4s ease-in;
  box-shadow: 4px 4px 4px #00000040;
  display: block;
}
.card:hover {
  transform: translateY(10px);
  border: #f2295bf0 2px solid;
  border-radius: 40px 0 40px 0;
}
#instagram {
  color: #ffffff;
  background-color: #be328b;
  border-color: #be328b;
  box-shadow: #53113b 4px 4px 0px;
}
#telegram {
  background-color: #269dd9;
  border-color: #269dd9;
  color: #ffffff;
  box-shadow: #094c66 4px 4px 0px;
  align-items: center;
}
#page-telegram {
  border-color: #ffffff;
  color: #269dd9;
  box-shadow: #031217 4px 4px 0px;
}
#snapchat {
  border-color: rgba(0, 0, 0, 0);
  color: #fff;
  background-color: #dae035;
  box-shadow: #a09b06 4px 4px 0px;
}

.info:hover {
  font-family: monospace;
  font-size: 16px;
  width: 200px;
  height: 55px;
}

.info:active {
  transform: translate(6px, 3px);
}
.move {
  margin-top: 5px;
  color: #007acc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: xx-large;
  font:bolder;
}
